
header{
    background: #111;
    color: white;
    padding: 30px 20px;
    text-align: center;
    width: 100%;
}

header h1{
    margin: 2px 0;
    font-size: 40px;
    letter-spacing: 20px;
    width: 100%;
}

header p{
    margin-top: 10px;
    color: #ccc;
}

.hero{
    padding: 80px 20px;
    background: linear-gradient( 135deg, #0f2027, #203a43, #2c5364 );
    color: white;
    text-align: center;
    width: 100%;
}

.hero-text{
    max-width: 700px;
    margin: auto;
    font-size: 20px;
}

.hero a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.hero a:hover{
    text-decoration: none;
    color: black;
}

.hero ul,
.hero ol{
    max-width: 700px;
    margin: 20px auto;
    text-align: left;
}

.hero li{
    margin-bottom: 10px;
}

.hero strong{
    color: #00e5ff;
}

.btn{
    display: inline-block;
    margin-top: 40px;
    padding: 20px 80px;
    background: #ed0221;
    color: #111111;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover{
    background: #1ed601;
}

footer {
    background: #000;
    color: rgb(251, 247, 247);
    text-align: center;
    padding: 20px;
    text-align: left;
    font-size: smaller;
    width: 100%;
    
}

footer p{
    text-align: center;
}

footer ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

footer li{
    margin-bottom: 10px;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.form-container{
    max-width: 500px;
    margin: 50px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

                
h2{
    text-align: center;
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    resize: vertical;
    min-height: 80px;
}

button{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #333;
}

.note{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}
                
